:root {
    --DarkestBackground: #0b0b0d;
    --LightBackground: #141414;
    --highlight: #ed1c24;
    --highlightShadow: rgba(173, 151, 79, 150); /*rgba(255, 73, 68, 255)*/
    --lightGold: rgba(173, 151, 79, 255);
    --darkGold: rgba(142, 121, 62, 255);
    --defaultTextColor: #d3d3d3;
    --mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --serif: "Times New Roman", Times, serif;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.gridContainer {
    justify-self: center;
    align-self: center;
    position: relative;
    display: -ms-grid;
    display: grid;
    overflow-y: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: 250px 20px 250px 20px 250px;
    grid-template-columns: repeat(3, 250px);
    grid-auto-flow: row;
    right: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    grid-gap: 10px;

    padding-top: 20vh;
}

.gridItem {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    height: 250px;
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: -webkit-transform 0.1s ease;
    -o-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    transition: transform 0.1s ease, -webkit-transform 0.1s ease;
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.gridItem > .cardHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;

    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 5px;
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    right: auto;
    margin-top: 5px;
    top: 0px;
    gap: 3px;
    position: relative;
}

.gridItem .GradientText {
    justify-self: flex-start;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    vertical-align: middle;
}

.gridItem > .cardHeader a {
    height: 100%;
    position: relative;
    left: -10px;
    -ms-grid-column-align: right;
    justify-self: right;
    margin: 5px 5px 1px -5px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.gridItem .icons-wrapper{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: flex-end;
}

    .gridItem .cardHeader img {
        height: 90%;
        position: relative;
        -webkit-filter: brightness(0.75);
        filter: brightness(0.75);
        -webkit-transition: -webkit-transform 0.1s ease-in-out 0s;
        transition: -webkit-transform 0.1s ease-in-out 0s;
        -o-transition: transform 0.1s ease-in-out 0s;
        transition: transform 0.1s ease-in-out 0s;
        transition: transform 0.1s ease-in-out 0s, -webkit-transform 0.1s ease-in-out 0s;
    }

        .gridItem > .cardHeader img:hover {
            -webkit-transform: translate(0, 1px) scale(1.05, 1.05);
            -ms-transform: translate(0, 1px) scale(1.05, 1.05);
            transform: translate(0, 1px) scale(1.05, 1.05);
        }

    .gridItem > .cardHeader > img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transform: translate(0, -2px);
        -ms-transform: translate(0, -2px);
        transform: translate(0, -2px);
    }


    .gridItem > .cardHeader .icon {
        -ms-grid-column-align: right;
        justify-self: right;
    }

    .gridItem .briefDescription {
        font-family: var(--mono);
        color: var(--defaultTextColor);
        font-size: 0.75em;
        text-anchor: start;
        vertical-align: top;
        text-align: left;
        height: 100%;
        width: 100%;
        margin-top: 5px;
        -webkit-transition: top 0s ease-in-out 0s, white-space 0s ease-in-out 0.25s, overflow 0s step-end 0.25s, -webkit-transform 0s ease-in-out 0s;
        transition: top 0s ease-in-out 0s, white-space 0s ease-in-out 0.25s, overflow 0s step-end 0.25s, -webkit-transform 0s ease-in-out 0s;
        -o-transition: transform 0s ease-in-out 0s, top 0s ease-in-out 0s, white-space 0s ease-in-out 0.25s, overflow 0s step-end 0.25s;
        transition: transform 0s ease-in-out 0s, top 0s ease-in-out 0s, white-space 0s ease-in-out 0.25s, overflow 0s step-end 0.25s;
        transition: transform 0s ease-in-out 0s, top 0s ease-in-out 0s, white-space 0s ease-in-out 0.25s, overflow 0s step-end 0.25s, -webkit-transform 0s ease-in-out 0s;
    }

.DescriptionContainer {
    width: 80%;
    height: 50%;
    -ms-grid-column-align: center;
    justify-self: center;
    margin: 1px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-box-flex: 0.8;
    -ms-flex-positive: 0.8;
    flex-grow: 0.8;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

.grid-card-animate{
    animation-name: grid-card-animation;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    opacity: 0;
    transform: translateY(10px);

}

@keyframes grid-card-animation {
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 925px) {
    .gridContainer {
        -ms-grid-columns: 250px 20px 250px;
        grid-template-columns: repeat(2, 250px);
    }
}

@media only screen and (max-device-width: 925px) {
    .gridContainer {
        -ms-grid-columns: 250px 20px 250px;
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (max-width: 675px) {
    .gridContainer {
        -ms-grid-columns: 250px;
        grid-template-columns: repeat(1, 250px);
    }
}


@media only screen and (max-device-width: 675px) {
    .gridContainer {
        -ms-grid-columns: 250px;
        grid-template-columns: repeat(1, 250px);
    }
}