@import './Constants.css';


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.tabButtonRaised {
    top: -65px !important;
}

.ResponsiveTabButton {
    display: -ms-inline-grid;
    display: inline-grid;
    padding: 5px;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    /*background: #000000;*/
    width: 40px;
    min-width: 40px;
    height: 40px;

    margin-left: 10px;
    margin-right: 10px;
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
    -webkit-transition: border 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, top ease-in-out 0.5s;
    -o-transition: border 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, top ease-in-out 0.5s;
    transition: border 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, top ease-in-out 0.5s;
    border: 1.5px solid var(--slate-400) /*#ed1c24*/;
    -webkit-box-shadow: 0px 0px 0px var(--blue-300);
    box-shadow: 0px 0px 0px var(--blue-300);
    align-self: center;

}



    .ResponsiveTabButton:hover {
        border: 1.5px solid var(--blue-200);
        -webkit-box-shadow: 0px 0px 2px var(--blue-300);
        box-shadow: 0px 0px 2px var(--blue-300);
        background: var(--slate-900);
        cursor: pointer;
    }



        .ResponsiveTabButton:hover > .bar:nth-child(n) {
            background: var(--slate-200);
            -webkit-box-shadow: 0px 0px 2px var(--blue-300);
            box-shadow: 0px 0px 2px var(--blue-300);
        }

.bar {
    border-radius: 15%;
    position: relative;
    top: 0;
    left: 25%;
    width: 50%;
    height: 12%;
    background: var(--slate-400);
    display: block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}

    .bar:nth-child(1) {
        top: 25%;
    }

    .bar:nth-child(3) {
        top: -25%;
    }


.ResponsiveTabSelected > .bar:nth-child(1) {
    -webkit-animation-name: AnimateTopBarX;
    animation-name: AnimateTopBarX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.ResponsiveTabSelected > .bar:nth-child(2) {
    -webkit-animation-name: AnimateMiddleBarX;
    animation-name: AnimateMiddleBarX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.ResponsiveTabSelected > .bar:nth-child(3) {
    -webkit-animation-name: AnimateLowerBarX;
    animation-name: AnimateLowerBarX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.ResponsiveTabUnselected > .bar:nth-child(1) {
    -webkit-animation-name: AnimateTopBarLines;
    animation-name: AnimateTopBarLines;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.ResponsiveTabUnselected > .bar:nth-child(2) {
    -webkit-animation-name: AnimateMiddleBarLines;
    animation-name: AnimateMiddleBarLines;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.ResponsiveTabUnselected > .bar:nth-child(3) {
    -webkit-animation-name: AnimateLowerBarLines;
    animation-name: AnimateLowerBarLines;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes AnimateTopBarX {
    0% {
        top: 25%;
    }

    50% {
        height: 12%;
        top: 100%;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        top: 100%;
        height: 14%;
    }
}

@keyframes AnimateTopBarX {
    0% {
        top: 25%;
    }

    50% {
        height: 12%;
        top: 100%;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        top: 100%;
        height: 14%;
    }
}


@-webkit-keyframes AnimateMiddleBarX {
    0% {
        top: 0%;
    }

    50% {
        top: 0%;
        opacity: 100%;
    }

    51% {
        top: 0%;
        opacity: 0%;
    }

    100% {
        top: 0%;
        opacity: 0%;
    }
}


@keyframes AnimateMiddleBarX {
    0% {
        top: 0%;
    }

    50% {
        top: 0%;
        opacity: 100%;
    }

    51% {
        top: 0%;
        opacity: 0%;
    }

    100% {
        top: 0%;
        opacity: 0%;
    }
}


@-webkit-keyframes AnimateLowerBarX {
    0% {
        top: -25%;
    }

    50% {
        height: 12%;
        top: -100%;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        height: 14%;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        top: -100%;
    }
}


@keyframes AnimateLowerBarX {
    0% {
        top: -25%;
    }

    50% {
        height: 12%;
        top: -100%;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        height: 14%;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        top: -100%;
    }
}


@-webkit-keyframes AnimateTopBarLines {
    0% {
        height: 14%;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        top: 100%;
    }

    50% {
        height: 12%;
        top: 100%;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        top: 25%;
    }
}


@keyframes AnimateTopBarLines {
    0% {
        height: 14%;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        top: 100%;
    }

    50% {
        height: 12%;
        top: 100%;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        top: 25%;
    }
}


@-webkit-keyframes AnimateMiddleBarLines {
    0% {
        opacity: 0%;
        top: 0%;
    }

    50% {
        top: 0%;
        opacity: 0%;
    }

    51% {
        top: 0%;
        opacity: 100%;
    }

    100% {
        top: 0%;
    }
}


@keyframes AnimateMiddleBarLines {
    0% {
        opacity: 0%;
        top: 0%;
    }

    50% {
        top: 0%;
        opacity: 0%;
    }

    51% {
        top: 0%;
        opacity: 100%;
    }

    100% {
        top: 0%;
    }
}


@-webkit-keyframes AnimateLowerBarLines {
    0% {
        height: 14%;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        top: -100%;
    }

    50% {
        height: 12%;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        top: -100%;
    }

    100% {
        top: -25%;
    }
}


@keyframes AnimateLowerBarLines {
    0% {
        height: 14%;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        top: -100%;
    }

    50% {
        height: 12%;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        top: -100%;
    }

    100% {
        top: -25%;
    }
}



@media screen and (max-width : 600px) {

    .ResponsiveTabButton {
        display: -ms-inline-grid;
        display: inline-grid;
        pointer-events: all;
    }
}

@media only screen and (max-device-width : 600px) {

    .ResponsiveTabButton {
        display: -ms-inline-grid;
        display: inline-grid;
        pointer-events: all;
    }
}




@media screen and (max-width : 480px) {

    .ResponsiveTabButton {
        display: -ms-inline-grid;
        display: inline-grid;
        pointer-events: all;
    }
}


@media only screen and (max-device-width : 480px) {

    .ResponsiveTabButton {
        display: -ms-inline-grid;
        display: inline-grid;
        pointer-events: all;
    }
}    