:root {
    --DarkestBackground: #0b0b0d;
    --LightBackground: #141414;
    --highlight: #ed1c24;
    --highlightShadow: rgba(173, 151, 79, 150); /*rgba(255, 73, 68, 255)*/
    --lightGold: rgba(173, 151, 79, 255);
    --darkGold: rgba(142, 121, 62, 255);
    --defaultTextColor: #d3d3d3;
    --mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --serif: "Times New Roman", Times, serif;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.gradientBorder {
}


    .gradientBorder::before {
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        content: '';
        border-radius: 3px;
        z-index: -1;
        position: absolute;
        -webkit-box-shadow: 4px 4px 15px black;
        box-shadow: 4px 4px 15px black;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, var(--darkGold)), color-stop(50%, var(--lightGold)), color-stop(99.5%, var(--lightGold)), to(white));
        background-image: -o-linear-gradient(bottom, var(--darkGold) 20%, var(--lightGold) 50%, var(--lightGold) 99.5%, white 100%);
        background-image: linear-gradient(0deg, var(--darkGold) 20%, var(--lightGold) 50%, var(--lightGold) 99.5%, white 100%);
    }


.gradientBarLeft {
    display: inline-block;
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(142,121,62,1)), color-stop(20%, rgba(171,149,72,1)), color-stop(60%, rgba(173,151,73,1)), color-stop(85%, rgba(202,187,137,1)), to(rgba(255,255,255,1)));
    background-image: -o-linear-gradient(left, rgba(142,121,62,1) 5%, rgba(171,149,72,1) 20%, rgba(173,151,73,1) 60%, rgba(202,187,137,1) 85%, rgba(255,255,255,1) 100%);
    background-image: linear-gradient(90deg, rgba(142,121,62,1) 5%, rgba(171,149,72,1) 20%, rgba(173,151,73,1) 60%, rgba(202,187,137,1) 85%, rgba(255,255,255,1) 100%);
    /*background-image: linear-gradient(90deg, rgba(142,121,79,1) 0%, rgba(173,151,79,1) 20%, rgba(173,151,79,1) 40%, rgba(255,255,255,1) 50%, rgba(173,151,79,1) 60%, rgba(173,151,73,1) 80%, rgba(142,121,79,1) 100%);*/
    top: 50%;
    width: 100%;
    height: 2px;
    margin: 0px 5px 0px 5px;
    z-index: 0;
    border-radius: 50% 0% 0% 50% / 50% 50% 50% 50%;
    float: left;
}

/*I decided that a bar without a gradient looked better, so this class no longer has an actual gradient (Haha)*/
.gradientBarRight {
    display: inline-block;
    position: relative;
    background-color: rgb(52, 53, 54, 1);
    /*background-image: linear-gradient(270deg, rgba(142,121,62,1) 5%, rgba(171,149,72,1) 20%, rgba(173,151,73,1) 60%, rgba(202,187,137,1) 85%, rgba(255,255,255,1) 100%);*/
    /*background-image: linear-gradient(90deg, rgba(142,121,79,1) 0%, rgba(173,151,79,1) 20%, rgba(173,151,79,1) 40%, rgba(255,255,255,1) 50%, rgba(173,151,79,1) 60%, rgba(173,151,73,1) 80%, rgba(142,121,79,1) 100%);*/
    top: 50%;
    width: 100%;
    height: 1px;
    margin: 0px 0px 0px 0px;
    z-index: 0;
    border-radius: 0% 50% 50% 0% / 50% 50% 50% 50%;
    float: left;
}

.GradientText {
    text-align: left;
    margin: 0% 0% 0% 0%;
    top: 15%;
    color: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--lightGold)), color-stop(50%, var(--lightGold)), color-stop(85%, white));
    background-image: -o-linear-gradient(bottom, var(--lightGold) 0%, var(--lightGold) 50%, white 85%);
    background-image: linear-gradient(0deg, var(--lightGold) 0%, var(--lightGold) 50%, white 85%);
    -webkit-background-clip: text;
    background-clip: text;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block !important;
    z-index: 0;
    position: relative;
}



.Hero {
    position: relative;
    margin: 33vh 0 calc(33vh + 1px) 0;
    left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    gap: 0px;
    height: 60vh;
    min-height: 500px;
    width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    min-width: 0;
}

    .Hero > .GradientText {
        text-align: left;
        text-anchor: start;
        margin: 0 0 0 0;
        min-height: -webkit-max-content;
        min-height: -moz-max-content;
        min-height: max-content;
    }

    .Hero > h2.GradientText {
        position: relative;
        -ms-grid-row: 2;
        grid-row: 2;
        background-image: -webkit-gradient(linear, left bottom, left top, from(var(--lightGold)), color-stop(45%, var(--lightGold)), color-stop(75%, white));
        background-image: -o-linear-gradient(bottom, var(--lightGold) 0%, var(--lightGold) 45%, white 75%);
        background-image: linear-gradient(0deg, var(--lightGold) 0%, var(--lightGold) 45%, white 75%);
        background-size: cover;
        background-attachment: inherit;
        height: 80%;
        font-size: 3vw;
    }



    .Hero > .HeroTitle {
        position: relative;
        margin: 5px 0px 10px 0px;
        font-size: 5vw;
    }

.HeroTitle.GradientText {
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--lightGold)), color-stop(45%, var(--lightGold)), color-stop(80%, white));
    background-image: -o-linear-gradient(bottom, var(--lightGold) 0%, var(--lightGold) 45%, white 80%);
    background-image: linear-gradient(0deg, var(--lightGold) 0%, var(--lightGold) 45%, white 80%);
    background-size: cover;
    background-attachment: inherit;
    top: 0%;
}

.SectionBlock {
    scroll-margin-top: 100px;
    margin: calc(50vh + 10px) 5px 25px 5px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.Hero > .Text {
    margin: -5px 0px -5px 0px;
    position: relative;
    text-align: left;
    text-anchor: start;
    font-size: 1.2em;
    color: var(--defaultTextColor);
    -ms-grid-row: 2;
    grid-row: 2;
    width: 50%;
}

.Hero > a.HeroContactButton {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a.HeroContactButton {
    padding: 8px;
    /*background: #000000;*/
    width: 120px;
    min-width: 50px;
    height: 40px;
    position: relative;
    border-radius: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1.5px solid #d3d3d3 /*#ed1c24*/;
    -webkit-box-shadow: 0px 0px 0px #d3d3d3;
    box-shadow: 0px 0px 0px #d3d3d3;
    font-size: 1em;
    text-align: center;
    color: var(--defaultTextColor);
    text-decoration: none;
    margin: 20px 0px 0px 0px;
}

    a.HeroContactButton:hover {
        border: 1.5px solid var(--lightGold);
        background: #212121;
        color: transparent;
        -webkit-box-shadow: 0px 0px 2px var(--lightGold);
        box-shadow: 0px 0px 2px var(--lightGold);
    }

        a.HeroContactButton:hover::after {
            padding: 8px;
            /*background: #000000;*/
            width: 120px;
            min-width: 30px;
            height: 50px;
            position: absolute;
            border-radius: 1px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            left: 0%;
            top: 0%;
            margin-left: 0 0 0 0;
            width: 100%;
            height: 100%;
            content: "Contact Me";
            color: transparent;
            background-image: -webkit-gradient(linear, left bottom, left top, from(var(--lightGold)), color-stop(50%, var(--lightGold)), color-stop(85%, white));
            background-image: -o-linear-gradient(bottom, var(--lightGold) 0%, var(--lightGold) 50%, white 85%);
            background-image: linear-gradient(0deg, var(--lightGold) 0%, var(--lightGold) 50%, white 85%);
            -webkit-background-clip: text;
            background-clip: text;
            background-attachment: local;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 5;
        }

.card {
    z-index: 0;
    position: relative;
    background: -o-linear-gradient(45deg, rgba(52,53,54,1) 0%, rgba(20,20,20,0) 40%, rgba(20,20,20,0) 60%, rgba(52,53,54,1) 100%);
    background: linear-gradient(45deg, rgba(52,53,54,1) 0%, rgba(20,20,20,0) 40%, rgba(20,20,20,0) 60%, rgba(52,53,54,1) 100%);
    border-radius: 2px;
    width: 200px;
    height: 200px;
    padding: 2px;
    /*box-shadow: white 0px 0px 3px 1px;*/

    -webkit-transition: background 1s ease, -webkit-filter 0.5s ease;
    transition: background 1s ease, -webkit-filter 0.5s ease;
    -o-transition: background 1s ease, filter 0.5s ease;
    transition: background 1s ease, filter 0.5s ease;
    transition: background 1s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
}

    .card:hover {
        background: -o-linear-gradient(45deg, rgba(60,60,60,1) 0%, rgba(20,20,20,0) 40%, rgba(20,20,20,0) 60%, rgba(60,60,60,1) 100%);
        background: linear-gradient(45deg, rgba(60,60,60,1) 0%, rgba(20,20,20,0) 40%, rgba(20,20,20,0) 60%, rgba(60,60,60,1) 100%);
        -webkit-filter: brightness(110%);
        filter: brightness(110%);
    }

    .card * {
        position: relative;
    }

    .card::before {
        z-index: -1;
        content: '';
        background: -webkit-gradient(linear, left bottom, left top, from(var(--LightBackground)), color-stop(80%, var(--LightBackground)), to(rgba(25,25,25,1)));
        background: -o-linear-gradient(bottom, var(--LightBackground) 0%, var(--LightBackground) 80%, rgba(25,25,25,1) 100%);
        background: linear-gradient(0deg, var(--LightBackground) 0%, var(--LightBackground) 80%, rgba(25,25,25,1) 100%);
        border-radius: 2px;
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        position: absolute;
        top: 2px;
        right: 2px;
        left: 2px;
        bottom: 2px;
        display: block;
    }



.SectionHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 80vw;
    height: 50px;
    position: relative;
    margin: 0px 5px 5px 5px;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: 10%;
    right: auto;
}




    .SectionHeader > * {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0.7;
        -ms-flex-positive: 0.7;
        flex-grow: 0.7;
    }

    .SectionHeader > h1 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }

.AboutSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    margin: 20px 5px 5px 5px;
    gap: 20px;
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    left: 10%;
    right: auto;
}

    .AboutSection:nth-child(1) {
        float: left;
    }

* > .imgOverlay {
    position: relative;
    margin: 0;
    width: 25%;
    height: 25%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-grid-column-align: center;
    justify-self: center;
    min-height: 250px;
    min-width: 250px;
    border-radius: 5px;
    z-index: 0;
    border: 1px solid var(--lightGold);
    opacity: 1;
}

    * > .imgOverlay::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0%;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, var(--DarkestBackground)), to(rgba(255,255,255,0)));
        background-image: -o-linear-gradient(bottom, var(--DarkestBackground) 20%, rgba(255,255,255,0) 100%);
        background-image: linear-gradient(0deg, var(--DarkestBackground) 20%, rgba(255,255,255,0) 100%);
        opacity: .35;
        z-index: 0;
        -webkit-transition: opacity ease 1s;
        -o-transition: opacity ease 1s;
        transition: opacity ease 1s;
    }

    * > .imgOverlay:hover::after {
        opacity: 0;
    }


    * > .imgOverlay > img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: inherit;
        opacity: 1;
        -webkit-filter: brightness(80%);
        filter: brightness(80%);
        z-index: 0;
    }


.AboutSection > p {
    margin: 0;
    text-align: left;
    text-anchor: start;
    -webkit-box-flex: 0.7;
    -ms-flex-positive: 0.7;
    flex-grow: 0.7;
    color: var(--defaultTextColor);
    font: var(--serif);
    font-size: 1.2em;
}

.ContactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    left: 10vw;
    right: auto;
    margin: 5px 5px 5px 5px;
    gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 25vh;
}

    .ContactSection > *:first-child {
        margin-top: 10vh;
    }

    .ContactSection > * {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: center;
        justify-self: center;
    }

    .ContactSection > .Text {
        font-size: 1.2em;
        text-align: center;
        word-break: keep-all;
        width: 50vw;
    }

@media screen and (max-width: 1000px) {
    .ContactSection > .Text {
        font-size: 1.2em;
        text-align: center;
        word-break: keep-all;
        width: 60vw;
    }

    .Hero > .Text {
        position: relative;
        text-align: left;
        text-anchor: start;
        color: var(--defaultTextColor);
        width: 70%;
    }
}

.Text {
    color: var(--defaultTextColor);
}






@media screen and (max-width: 800px) {
    .Hero > .HeroTitle {
        font-size: 7.5vw;
    }
}

@media only screen and (max-device-width: 800px) {
    .Hero > .HeroTitle {
        font-size: 7.5vw;
    }
}

@media screen and (max-width: 600px) {

    .AboutSection {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

        .AboutSection > .imgOverlay {
            min-height: 280px;
            min-width: 280px;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            -ms-grid-column-align: center;
            justify-self: center;
        }

    .Hero > .HeroTitle {
        font-size: 8vw;
    }

    .Text {
        color: var(--defaultTextColor);
    }

    .Hero > .Text {
        position: relative;
        text-align: left;
        text-anchor: start;
        width: 90%;
    }
}

@media only screen and (max-device-width: 600px) {

    .AboutSection {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

        .AboutSection > .imgOverlay {
            min-height: 280px;
            min-width: 280px;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            -ms-grid-column-align: center;
            justify-self: center;
        }

    .Hero > .HeroTitle {
        font-size: 8vw;
    }

    .Text {
        color: var(--defaultTextColor);
    }

    .Hero > .Text {
        position: relative;
        text-align: left;
        text-anchor: start;
        width: 90%;
    }
}