:root {
    --DarkestBackground: #0b0b0d;
    --highlight: #ed1c24;
    --highlightShadow: rgba(173, 151, 79, 150); /*rgba(255, 73, 68, 255)*/
    --lightGold: rgba(173, 151, 79, 255);
    --darkGold: rgba(142, 121, 62, 255);
    --defaultTextColor: #d3d3d3;
    --mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --serif: "Times New Roman", Times, serif;
}


.ResponsiveTabButton {
    display: inline-grid;
    padding: 5px;
    grid-template-columns: 100%;
    /*background: #000000;*/
    width: 40px;
    min-width:40px;
    height: 40px;
    margin: 10px 0px 10px 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 1px;
    box-sizing: border-box;
    z-index: 999;
    transition: border box-shadow background 0.3s ease;
    border: 1.5px solid #d3d3d3 /*#ed1c24*/;
    box-shadow: 0px 0px 0px var(--lightGold);
    float: right;

    top: 0px;
    left: calc(100vw - 80px);
    right: auto;
    bottom: 0px;

}



    .ResponsiveTabButton:hover {
        border: 1.5px solid var(--lightGold);
        box-shadow: 0px 0px 2px var(--lightGold);
        background: #212121;
    }



.ResponsiveTabButton:hover > .bar:nth-child(n) {
    background: var(--lightGold);
    box-shadow: 0px 0px 2px var(--lightGold);
}

.bar {
    border-radius: 15%;
    position: relative;
    top: 0;
    left: 25%;
    width: 50%;
    height: 12%;
    background: #d3d3d3;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    z-index:999;
}

.bar:nth-child(1)
{
    top:25%;
}

.bar:nth-child(3) {
    top: -25%;
}


.ResponsiveTabSelected > .bar:nth-child(1) {
    animation-name: AnimateTopBarX;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ResponsiveTabSelected > .bar:nth-child(2) {
    animation-name: AnimateMiddleBarX;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ResponsiveTabSelected > .bar:nth-child(3) {
    animation-name: AnimateLowerBarX;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ResponsiveTabUnselected > .bar:nth-child(1) {
    animation-name: AnimateTopBarLines;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ResponsiveTabUnselected > .bar:nth-child(2) {
    animation-name: AnimateMiddleBarLines;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.ResponsiveTabUnselected > .bar:nth-child(3) {
    animation-name: AnimateLowerBarLines;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes AnimateTopBarX {
    0% {
        top: 25%;
    }

    50% {
        height: 12%;
        top: 100%;
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(45deg);
        top: 100%;
        height: 14%;
    }
}


@keyframes AnimateMiddleBarX {
    0% {
        top: 0%;
    }

    50% {
        top: 0%;
        opacity: 100%;
    }

    51% {
        top: 0%;
        opacity: 0%;
    }

    100% {
        top: 0%;
        opacity: 0%;
    }
}


@keyframes AnimateLowerBarX {
    0% {
        top: -25%;
    }

    50% {
        height: 12%;
        top: -100%;
        transform: rotateZ(0deg);
    }

    100% {
        height: 14%;
        transform: rotateZ(-45deg);
        top: -100%;
    }
}


@keyframes AnimateTopBarLines {
    0% {
        height:14%;
        transform: rotateZ(45deg);
        top: 100%;
    }

    50% {
        height: 12%;
        top:100%;
        transform: rotateZ(0deg);
    }

    100% {
        
        top: 25%;
    }
}


@keyframes AnimateMiddleBarLines {
    0% {
        opacity: 0%;
        top: 0%;
    }

    50% {
        top: 0%;
        opacity: 0%;
    }

    51% {
        top: 0%;
        opacity: 100%;
    }

    100% {
        top: 0%;
    }
}


@keyframes AnimateLowerBarLines {
    0% {
        height:14%;
        transform: rotateZ(-45deg);
        top: -100%;
    }

    50% {
        height: 12%;
        transform: rotateZ(0deg);
        top: -100%;
    }

    100% {
        top: -25%;
    }
}



.ResponsiveTabButton {
    pointer-events: none;
    display: none;
    
}

@media screen and (max-width : 600px) {

    .ResponsiveTabButton {
        display: inline-grid;
        pointer-events: all;
    }

}

@media only screen and (max-device-width : 600px) {

    .ResponsiveTabButton {
        display: inline-grid;
        pointer-events: all;
    }
}




@media screen and (max-width : 480px) {

    .ResponsiveTabButton {
        display: inline-grid;
        pointer-events: all;
    }
}


@media only screen and (max-device-width : 480px) {

    .ResponsiveTabButton {
        display: inline-grid;
        pointer-events: all;
    }
}    